.basic-form {
  width: 95%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: hsl(0, 0%, 100%);
  padding: 2% 2%;
  margin-bottom: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0px hsla(0, 0%, 70%, 1);
}

.form-content {
  display: flex;
  flex-direction: row;
}

.contact-column-title {
  text-align: center;
  font-size: 150%;
}

.contact-column-title-sub {
  text-align: center;
  font-size: 170%;
  margin: 1.5rem 0;
}

.contact-column {
  padding: 1%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  flex-wrap: wrap;
}
.sample-display {
  padding: 1%;
  flex: 3;
  display: flex;
  flex-direction: column;

  & .sample-premium {
    height: 37rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sample-row {
  width: 100%;
  display: flex;
  display: row;
  justify-content: space-around;
}

.next-title {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
}
.basic-form-row {
  display: flex;
  display: row;
  justify-content: space-around;
  width: 100%;
  margin: 1rem 0;
}

.basic-form input {
  flex: 1;
  padding: 4% 1%;
  margin: 0.6rem 0;
}

.basic-form-row input {
  flex: 1;
  padding: 3% 1%;
  margin: 0.6rem 1rem;
}

.basic-form textarea {
  width: 100%;
  font-size: 200%;
  margin: 1rem 0;
  padding: 3%;
  border: 0;
}

.basic-form input[type='submit'],
.basic-form input[type='button'] {
  border: 0;
  color: hsl(0, 0%, 19%);
  margin: 0;
  min-height: 3rem;
  background-color: hsl(120, 55%, 63%);
  transition: background-color 100ms ease-in-out;
}

.basic-form input[type='submit']:active,
.basic-form input[type='button']:active {
  background-color: hsl(120, 45%, 55%);
}

.checkboxes {
  font-size: 120%;
  display: flex;
  padding: 2% 2%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.checkboxes label {
  flex: 2;
}

.checkboxes-mini {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  min-height: 4.5rem;
  font-size: 150%;
  & .checkbox-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    & label {
      flex: 4;
      margin: 0.4rem 0;
      font-size: 75%;
      text-align: center;
    }

    & input {
      display: inline-block;
      flex: 1;
      transform: scale(1);
      -webkit-appearance: checkbox;
    }
  }
}

.checkbox-section-title {
  text-align: center;
  font-size: 90%;
}

.checkbox-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.checkbox-section-title {
  text-align: center;
}

.checkboxes-mini label {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 3rem;
}

.checkboxes-mini label input {
  transform: scale(1.5);
}

.checkboxes {
  & label {
    // margin-right: 5rem;
    flex: 15;
  }

  & input {
    -webkit-appearance: checkbox;
    border-style: none;
    background-color: inherit;
    margin: 0;
    flex: 1;
    padding: 0;
    transform: scale(2);
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  min-height: 6rem;
  width: 95%;
  margin: 0 auto;

  & .selling-today {
    display: flex;
    flex-direction: row;
    flex: 2;
    margin: 1rem 0;
    padding: 1% 0;
    & label {
      font-size: 70%;
      flex: 4;
    }

    & select {
      background-color: transparent;
      padding: 2%;
      font-size: 70%;
      flex: 1;
      border: 0.1rem solid hsla(0, 0%, 75%, 0.7);
      border-radius: 0.2rem;
    }

    & option {
      font-size: 100%;
    }
  }

  & .same-address {
    display: flex;
    flex-direction: row;
    flex: 3;
    margin: 1rem 0;
    padding: 1%;
    & input {
      -webkit-appearance: checkbox;
      flex: 1;
      transform: scale(0.6);
    }
    & label {
      flex: 3;
      padding: 1rem 0;
      font-size: 130%;
    }
  }
}
