.sample {
  width: 100%;
  max-width: 11rem;
}
.sample-wrapper {
  width: 11.5rem;
  height: 11.5rem;
  margin: 0.5rem;
  border: 0.4rem solid transparent;
  & img {
    width: 100%;
  }
}

.selected {
  border-color: hsl(120, 55%, 63%);
}
