.sample {
  width: 100%;
  max-width: 11rem;
}
.sample-wrapper {
  width: 11.5rem;
  height: 11.5rem;
  margin: 0.5rem;
  border: 0.2rem solid hsla(0, 0%, 95%, 0.7);
  border-radius: 0.2rem;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & img {
    width: 100%;
  }
  transition: border 150ms ease-in-out;
}

.selected {
  border-color: hsl(120, 55%, 63%);
}
